{% extends "_base.html" %}
{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Schimbarea parolei" %}{% endblock %}

{% block content %}

<!--     <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form }}
        <button type="submit" name="action">{% trans "Schimb parola" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Ai uitat parola?" %}</a>
    </form> -->

<main>
    <section class="p-0 d-flex align-items-center position-relative overflow-hidden">
    
        <div class="container-fluid">
            <div class="row">
                <!-- left -->
                <div class="col-12 col-lg-6 d-md-flex align-items-center justify-content-center bg-primary bg-opacity-10 vh-lg-100">
                    <div class="p-3 p-lg-5">
                        <!-- Title -->
                        <div class="text-center">
                            <h2 class="fw-bold">Bine ai venit pe platforma Frontline Solutions</h2>
                            <p class="mb-0 h6 fw-light">În fiecare zi poți învăța ceva nou.</p>
                        </div>
                        <!-- SVG Image -->
                        <img src="{% static 'assets/images/element/02.svg' %}" class="mt-5" alt="">
                    </div>
                </div>
                <!-- Right -->
                <div class="col-12 col-lg-6 d-flex justify-content-center">
                    <div class="row my-5">
                        <div class="col-sm-10 col-xl-12 m-auto">

              <!-- Title -->
                            <span class="mb-0 fs-1">🤔</span>
                            <h1 class="fs-2">{% trans "Schimbarea parolei" %}</h1>
                            <h5 class="fw-light mb-4">Introdu parola veche și pe cea nouă pentru a o schimba.</h5>
                            
                            <!-- Form START -->
<!-- <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form }}
        <button type="submit" name="action">{% trans "Schimb parola" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Ai uitat parola?" %}</a>
</form> -->
            
     
                            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                                {% csrf_token %}
                                <!-- Email -->
                                <div class="mb-4">
                                    <label for="id_oldpassword" class="form-label">Parola actuală *</label>
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i class="bi bi-envelope-fill"></i></span>
                                        <input type="password" class="form-control border-0 bg-light rounded-end ps-1" placeholder="parola" id="id_oldpassword">
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label for="id_password1" class="form-label">Parola nouă *</label>
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i class="bi bi-envelope-fill"></i></span>
                                        <input type="password" name="password1" class="form-control border-0 bg-light rounded-end ps-1" placeholder="parola nouă" id="id_password1">
                                    </div>
                                    <label for="id_password2" class="form-label">Parola nouă (încă o dată) *</label>
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i class="bi bi-envelope-fill"></i></span>
                                        <input type="password" name="password2" class="form-control border-0 bg-light rounded-end ps-1" placeholder="parola nouă (încă o dată)" id="id_password2">
                                    </div>
                                </div>
                                <!-- Button -->
                                <div class="align-items-center">
                                    <div class="d-grid">
                                        <button class="btn btn-primary mb-0" type="submit" name="action">{% trans "Schimb parola" %}</button>
                                    </div>
                                </div>
                                <a href="{% url 'account_reset_password' %}">{% trans "Ai uitat parola?" %}</a>
                            </form>
                            <!-- Form END -->
                        </div>
                    </div> <!-- Row END -->
                </div>
            </div> <!-- Row END -->
        </div>
    </section>
<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>
</main>
{% endblock %}