{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Schimbarea parolei" %}{% endblock %}

{% block content %}
    <h1>{% trans "Schimbarea parolei" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" name="action">{% trans "Schimb parola" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Ai uitat parola?" %}</a>
    </form>
{% endblock %}