{% extends "_base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

<main>
    <section class="p-0 d-flex align-items-center position-relative overflow-hidden">
    
        <div class="container-fluid">
            <div class="row">
                <!-- left -->
                <div class="col-12 col-lg-6 d-md-flex align-items-center justify-content-center bg-primary bg-opacity-10 vh-lg-100">
                    <div class="p-3 p-lg-5">
                        <!-- Title -->
                        <div class="text-center">
                            <h2 class="fw-bold">Bine ai venit pe platforma Frontline Solutions</h2>
                            <p class="mb-0 h6 fw-light">În fiecare zi poți învăța ceva nou.</p>
                        </div>
                        <!-- SVG Image -->
                        <img src="{% static 'assets/images/element/02.svg' %}" class="mt-5" alt="">
                    </div>
                </div>
                <!-- Right -->
                <div class="col-12 col-lg-6 d-flex justify-content-center">
                    <div class="row my-5">
                        <div class="col-sm-10 col-xl-12 m-auto">

              <!-- Title -->
                            <span class="mb-0 fs-1">🤔</span>
                            <h1 class="fs-2">Ai uitat parola?</h1>
                            <h5 class="fw-light mb-4">Pentru a o putea reseta, introdu adresa ta de email.</h5>
                            
                            <!-- Form START -->
                            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                                {% csrf_token %}
                                <!-- Email -->
                                <div class="mb-4">
                                    <label for="id_email" class="form-label">Adresa de email *</label>
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i class="bi bi-envelope-fill"></i></span>
                                        <input type="email" class="form-control border-0 bg-light rounded-end ps-1" placeholder="Email" id="id_email">
                                    </div>
                                </div>
                                <!-- Button -->
                                <div class="align-items-center">
                                    <div class="d-grid">
                                        <input class="btn btn-primary mb-0" type="submit" value="{% trans 'Reseteaza-mi parola' %}">
                                    </div>

                                </div>
                                <div class="mb-4">
                                    <p>{% blocktrans %}Te rog să ne contactezi daca ai orice fel de probleme cu resetarea parolei.{% endblocktrans %}</p>
                                </div>
                            </form>
                            <!-- Form END -->
                        </div>
                    </div> <!-- Row END -->
                </div>
            </div> <!-- Row END -->
        </div>
    </section>
<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>
</main>
{% endblock %}