{% load static %}
{% load account %}
<!-- Header START -->
<header class="navbar-light navbar-sticky">
    <!-- Logo Nav START -->
    <nav class="navbar navbar-expand-xl">
        <div class="container">
            <!-- Logo START -->
            <a class="navbar-brand" href="{% url 'home' %}">
                <img class="light-mode-item navbar-brand-item" src="{% static 'assets/images/logo.png' %}" alt="logo">
                <img class="dark-mode-item navbar-brand-item" src="{% static 'assets/images/logo-light.svg' %}" alt="logo">
            </a>
            <!-- Logo END -->

            <!-- Responsive navbar toggler -->
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-animation">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </button>
            {% if user.is_authenticated %}
            <!-- Main navbar START -->
            <div class="navbar-collapse w-100 collapse" id="navbarCollapse">
                 
                <!-- Nav Main menu START -->
                <ul class="navbar-nav navbar-nav-scroll mx-auto">
                   
                    <!-- Nav item 1: Home -->
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Pagina principală</a></li>

                    <!-- Nav item 2: eLearning -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="demoMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">eLearning</a>
                        <ul class="dropdown-menu" aria-labelledby="demoMenu">
                            <li> <a class="dropdown-item" href="{% url 'course_list' %}">Cursuri</a></li>
                            <li> <a class="dropdown-item" href="{% url 'test_list' %}">Teste</a></li>
                            <li> <a class="dropdown-item" href="#">Trivia</a></li>
                        </ul>
                    </li>

                    <!-- Nav item 3: Concedii -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="pagesMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Instrumente</a>
                        <ul class="dropdown-menu" aria-labelledby="pagesMenu">
                            <!-- Dropdown submenu -->
                            <li class="dropdown-submenu dropend">
                                <a class="dropdown-item dropdown-toggle" href="#">Concedii</a>
                                <ul class="dropdown-menu dropdown-menu-start" data-bs-popper="none">
                                    <li> <a class="dropdown-item" href="#">Cerere de concediu<span class="badge bg-success ms-2 smaller">Nou</span></a></li>
                                    <li> <hr class="dropdown-divider"></li>
                                    <li> <a class="dropdown-item" href="course-grid.html">Listă cereri personale</a></li>
                                    <li> <a class="dropdown-item" href="course-grid-2.html">Balanța zilelor de concediu</a></li>
                                    <li> <hr class="dropdown-divider"></li>
                                    <li> <a class="dropdown-item" href="course-list.html">Listă cereri echipă</a></li>
                                    <li> <a class="dropdown-item" href="course-list-2.html">Balanță zile echipă</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Nav Main menu END -->

                <!-- Nav Search START -->
                <div class="nav my-3 my-xl-0 px-4 flex-nowrap align-items-center">
                    <div class="nav-item w-100">
                        <form class="position-relative">
                            <input class="form-control pe-5 bg-transparent" type="search" placeholder="căutare" aria-label="Search">
                            <button class="btn bg-transparent px-2 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit"><i class="fas fa-search fs-6 "></i></button>
                        </form>
                    </div>
                </div>
                <!-- Nav Search END -->
            </div>
            <!-- Main navbar END -->

            <!-- Profile START -->
            <div class="dropdown ms-1 ms-lg-0">
                <a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/01.jpg' %}" alt="avatar">
                </a>
                <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
                    <!-- Profile info -->
                    <li class="px-3">
                        <div class="d-flex align-items-center">
                            <!-- Avatar -->
                            <div class="avatar me-3">
                                <img class="avatar-img rounded-circle shadow" src="{% static 'assets/images/avatar/01.jpg' %}" alt="avatar">
                            </div>
                            <div>
                                <a class="h6" href="#">{{ user.first_name }} {{ user.last_name }}</a>
                                <p class="small m-0">{{ user.email }}</p>
                            </div>
                        </div>
                        <hr>
                    </li>
                    <!-- Links -->
                    <li><a class="dropdown-item" href="#"><i class="bi bi-person fa-fw me-2"></i>Editare profil</a></li>
                    <li><a class="dropdown-item" href="{% url 'account_change_password' %}"><i class="bi bi-gear fa-fw me-2"></i>Schimbare parolă</a></li>
                    <li><a class="dropdown-item bg-danger-soft-hover" href="{% url 'account_logout' %}"><i class="bi bi-power fa-fw me-2"></i>Logout</a></li>
                    <li> <hr class="dropdown-divider"></li>
                    <!-- Dark mode switch START -->
                    <li>
                        <div class="modeswitch-wrap" id="darkModeSwitch">
                            <div class="modeswitch-item">
                                <div class="modeswitch-icon"></div>
                            </div>
                            <span>Dark mode</span>
                        </div>
                    </li> 
                    <!-- Dark mode switch END -->
                </ul>
            </div>
            <!-- Profile END -->
            {% else %}

            {% endif %}
        </div>
    </nav>
    <!-- Logo Nav END -->
</header>
<!-- Header END -->
