{% extends '_base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<body>
{% include "nav.html" %}

<main>

<!-- =======================
Page intro START -->
<section class="bg-light py-0 py-sm-5">
	<div class="container">
		<div class="row py-5">
			<div class="col-lg-8">
				<!-- Badge -->
				<h6 class="mb-3 font-base bg-primary text-white py-2 px-4 rounded-2 d-inline-block">{{ course.category }}</h6>
				<!-- Title -->
				<h1>{{ course }}</h1>
				<p>{{ course.description }}</p>
				<!-- Content -->
				<ul class="list-inline mb-0">
					<li class="list-inline-item h6 me-3 mb-1 mb-sm-0"><i class="fas fa-user-graduate text-orange me-2"></i>1.485 cursanți</li>
					<li class="list-inline-item h6 me-3 mb-1 mb-sm-0"><i class="fas fa-signal text-success me-2"></i>Toate nivelurile de dificultate</li>
					<li class="list-inline-item h6 me-3 mb-1 mb-sm-0"><i class="bi bi-patch-exclamation-fill text-danger me-2"></i>Ultima actualizare 09/2021</li>
					<li class="list-inline-item h6 mb-0"><i class="fas fa-globe text-info me-2"></i>Română</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Page intro END -->

<!-- =======================
Page content START -->
<section class="pb-0 py-lg-5">
	<div class="container">
		<div class="row">
			<!-- Main content START -->
			<div class="col-lg-8">
				<div class="card shadow rounded-2 p-0">
					<!-- Tabs START -->
					<div class="card-header border-bottom px-4 py-3">
						<ul class="nav nav-pills nav-tabs-line py-0" id="course-pills-tab" role="tablist">
							<!-- Tab item -->
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<button class="nav-link mb-2 mb-md-0 active" id="course-pills-tab-1" data-bs-toggle="pill" data-bs-target="#course-pills-1" type="button" role="tab" aria-controls="course-pills-1" aria-selected="true">Prezentare</button>
							</li>
							<!-- Tab item -->
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<button class="nav-link mb-2 mb-md-0" id="course-pills-tab-2" data-bs-toggle="pill" data-bs-target="#course-pills-2" type="button" role="tab" aria-controls="course-pills-2" aria-selected="false">Curriculum</button>
							</li>
							<!-- Tab item -->
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<button class="nav-link mb-2 mb-md-0" id="course-pills-tab-3" data-bs-toggle="pill" data-bs-target="#course-pills-3" type="button" role="tab" aria-controls="course-pills-3" aria-selected="false">Flashcards</button>
							</li>
						</ul>
					</div>
					<!-- Tabs END -->

					<!-- Tab contents START -->
					<div class="card-body p-4">
						<div class="tab-content pt-2" id="course-pills-tabContent">
							<!-- Content START -->
							<div class="tab-pane fade show active" id="course-pills-1" role="tabpanel" aria-labelledby="course-pills-tab-1">
								<!-- Course detail START -->
								{{ course.presentation | safe }}

								<!-- List content -->
								<h5 class="mt-4">Ce veți învăța</h5>
								<ul class="list-group list-group-borderless mb-3">
									{% for chapter in chapters %}
									<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>{{ chapter }}</li>
									{% endfor %}
								</ul>
								<!-- Course detail END -->
							</div>
							<!-- Content END -->

							<!-- Content START -->
							<div class="tab-pane fade" id="course-pills-2" role="tabpanel" aria-labelledby="course-pills-tab-2">
								<!-- Course accordion START -->
								<div class="accordion accordion-icon accordion-bg-light" id="accordionExample2">
									<!-- Capitol -->
									{% for chapter in chapters %}
									<div class="accordion-item mb-3">
										<h6 class="accordion-header font-base" id="heading-1">
											<button class="accordion-button fw-bold rounded d-sm-flex d-inline-block collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
												{{ chapter }}
												<span class="small ms-0 ms-sm-2">({{ chapter.lectures.values | length }} lecții)</span>
											</button>
										</h6>
										<div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-parent="#accordionExample2">
											<div class="accordion-body mt-3">
												{% for lecture in chapter.lectures.values %}
												<!-- Lectie -->
												<div class="d-flex justify-content-between align-items-center">
													<div class="position-relative d-flex align-items-center">

														{% if lecture.lecture_type_id is 1 %}
														<a href="{% url 'lecture_detail' lecture.id %}?course={{ course.id }}" class="btn btn-danger-soft btn-round btn-lg mb-0 stretched-link position-static">
															<i class="fas fa-play me-0"></i>
														</a>
														{% elif lecture.lecture_type_id is 2 %}
														<a href="{% url 'lecture_detail' lecture.id %}?course={{ course.id }}" class="btn btn-success-soft btn-round btn-lg mb-0 stretched-link position-static">
															<i class="fas fa-file me-0"></i>
														</a>
														{% elif lecture.lecture_type_id is 3 %}
														<a href="{% url 'lecture_detail' lecture.id %}?course={{ course.id }}" class="btn btn-info-soft btn-round btn-lg mb-0 stretched-link position-static">
															<i class="fas fa-file-pdf me-0"></i>
														</a>
														{% endif %}
														<span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px w-md-400px">{{ lecture.name }} </span>
													</div>
													<p class="mb-0">{{ lecture.duration }}</p>
												</div>
												<hr> <!-- Divider -->

												{% endfor %}
											</div>
										</div>
									</div>
									{% endfor %}
								</div>
								<!-- Course accordion END -->
							</div>
							<!-- Content END -->

							<div class="tab-pane fade" id="course-pills-3" role="tabpanel" aria-labelledby="course-pills-tab-3">
								<!-- Course detail START -->
								<h5 class="mb-3">Flashcards</h5>

								<p class="mb-3">
									Flashcardurile sunt un instrument extrem de eficient de învățare. Folosindu-le poți să <strong>reduci semnificativ durata necesară pentru fixarea informațiilor</strong>, dar și să-ți <strong>crești retenția pe termen lung</strong>.
									Diferența principală între a citi sau a urmări un clip video, pe de o parte, și a folosi flashcards, este că flashcardurile te forțează să-ți amintești. Tocmai acest efort de memorie ne ajută să fixăm mai rapid o informație nouă în "baza noastră de date". </p>

								<p class="mb-3">
									Fiecare flashcard este o întrebare la care trebuie să încerci să răspunzi în minte. După ce ai formulat răspunsul mental, apasă pe butonul de verificare pentru a afișa răspunsul corect. Dacă răspunsul din mintea ta corespunde cu răspunsul afișat, apasă butonul "Știu" pentru a confirma, iar dacă nu corespunde, atunci apasă pe butonul "Nu știu".
									<strong>Dacă ai răspuns corect, flashcardul este mutat în seria următoare.</strong>
									<strong>Dacă ai răspuns greșit, flashcardul este mutat înapoi în prima serie.</strong></p>

								<p class="mb-3">
									Pentru cele mai bune rezultate, trebuie să duci toate flashcardurile din seria 1 în seria 5, adică să bifezi de 5 ori că știi răspunsul corect. </p>

								<p class="mb-3">
									Îți recomandăm să faci fiecare serie în zile diferite sau cel puțin la distanță de câteva ore. Această distanțare crește eficiența memorării pe termen lung.</p>

								<div>
									{% for box in boxes %}
    									<a href="{% url 'course_detail' course.id %}?box_num={{ box.number }}">
        									<button class="btn btn-outline-primary nav-item me-2 me-sm-4" onclick='jumptosection()'> Seria {{ box.number}} <mark>({{ box.card_count }})</mark></button>
    									</a>
									{% endfor %}
								</div>
								<div id="target_card">
									<article>
									   <h4>{{ card.question }}</h4>
									   {% if card.question %}
									      <details>
									         <summary>Afișează răspunsul</summary>
									         <p>{{ card.answer }}</p>
									      </details>
									      {% include "learning/card_check_form.html" with solved=True %}
									      {% include "learning/card_check_form.html" with solved=False %}
									    {% endif %}

									</article>
								</div>
								<!-- Course detail END -->
							</div>
							<!-- Content END -->

						</div>
					</div>
					<!-- Tab contents END -->
				</div>
			</div>
			<!-- Main content END -->

			<!-- Right sidebar START -->
			<div class="col-lg-4 pt-5 pt-lg-0">
				<div class="row mb-5 mb-lg-0">
					<div class="col-md-6 col-lg-12">
						<!-- Video START -->
						<div class="card shadow p-2 mb-4 z-index-9">
							<div class="overflow-hidden rounded-3">
								<img src="{{ course.thumbnail.url }}" class="card-img" alt="course image">
								<!-- Overlay -->
								<div class="bg-overlay bg-dark opacity-6"></div>
								<div class="card-img-overlay d-flex align-items-start flex-column p-3">
									<!-- Video button and link -->
									<div class="m-auto">
										<a href="#" class="btn btn-lg text-danger btn-round btn-white-shadow mb-0" data-glightbox="" data-gallery="course-video">
											<i class="fas fa-play"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
						<!-- Video END -->

						<!-- Course info START -->
						<div class="card card-body shadow p-4 mb-4">
							<!-- Title -->
							<h4 class="mb-3">Acest curs include</h4>
							<ul class="list-group list-group-borderless">
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-book-open text-primary"></i>Lecții</span>
									<span>{{ lectures|length }}</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-clock text-primary"></i>Durată</span>
									<span>{{ duration }}</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-globe text-primary"></i>Limba</span>
									<span>Română</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-user-clock text-primary"></i>Limită acces</span>
									<span>Nov 30 2021</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-medal text-primary"></i>Certificat</span>
									<span>Nu</span>
								</li>
							</ul>
						</div>
						<!-- Course info END -->
					</div>
				</div><!-- Row End -->
			</div>
			<!-- Right sidebar END -->
		</div><!-- Row END -->
	</div>
</section>
<!-- =======================
Page content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

{% include 'footer.html' %}

<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

<script>
    function jumptosection() {
        var prez = document.getElementByID('course-pills-tab-1');
        var flash = document.getElementByID('course-pills-tab-3');
        prez.style.ariaSelected="false";
        prez.style.tabindex="-1";
        flash.style.ariaSelected="true";
        flash.classList.remove("tabindex");
    }
    window.onload = jumptosection;
</script>

</body>
</html>

{% endblock content %}