<!DOCTYPE html>
<html lang="en">
<head>
	<title>Eduport - LMS, Education and Course Theme</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Eduport- LMS, Education and Course Theme">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">

	<!-- Theme CSS -->
	<link id="style-switch" rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>

<body>
{% include "nav.html" %}

<!-- **************** MAIN CONTENT START **************** -->
<main>
<section class="pt-5">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<!-- Image -->
				<img src="assets/images/element/error404-01.svg" class="h-150px h-md-400px mb-4" alt="">
				<!-- Title -->
				<h1 class="display-1 text-danger mb-0">404</h1>
				<!-- Subtitle -->
				<h2>Oh no, something went wrong!</h2>
				<!-- info -->
				<p class="mb-4">Either something went wrong or this page doesn't exist anymore.</p>
				<!-- Button -->
				<a href="index.html" class="btn btn-primary mb-0">Take me to Homepage</a>
			</div>
		</div>
	</div>
</section>
</main>
<!-- **************** MAIN CONTENT END **************** -->
{% include 'footer.html' %}

<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Template Functions -->
<script src="assets/js/functions.js"></script>

</body>
</html>